# Environment variables
.env

# Streamlit secrets
.secrets
.streamlit/secrets.toml

# Build artifacts
build/
dist/

# Logs and coverage
*.log
.coverage
htmlcov/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual environments
venv/
.venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test artifacts
*.db
